/* #box{
  display: flex;
  background-color: black;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  color: bisque;
  
}*/

/* .active{
  background-color:yellowgreen;
  color: azure;
} 

*{
  margin: 0%;
}


#container{
  display: flex;
  background-color: black;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;

}
a{
  color: aliceblue;
} */


/* img{
  height: 400px;
  width: 400px;
} */

body{
  /* color: aqua; */
}
form{
  display: grid;
  place-content: center;
  margin-top: 350px;
  
}

#main{
  background-color: aliceblue;
  color:rgb(51, 123, 99);
  height: 300px;
  width: 400px; 

}
h1{
  /* background-color: rgb(178, 252, 227); */
 color:  rgb(51, 123, 99);
 margin-left: 45px;
}
.text{
  font-size: 20px;
  display: grid;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  
  

}
button{
  color: rgb(255, 255, 255);
  background-color: rgb(4, 117, 4);

  margin-top: 20px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
 
}

.box1{
  margin-top: 20px;
  height: 30px;
  border-radius: 5px;
}
